/* primero resetear */
*{
    margin :0 ;
    padding:0;

}
html,body{
    height :100%;
    width :100%;
}
#cabeceralogo{
    width :96%;
    padding:0 2%;
    height :150px;
    background-color : skyblue;

}
#cabeceralogo>div{
    width:960px;
    margin : 0 auto;
    padding-top :45px;

}
#cabeceralogo h1{
    font-family: 'Special Elite', cursive;
    font-weight :bold;
    color:white;
    font-size: 70px;
}
#menuprincipal{
    width :96%;
    height :50px;
    padding :0 2%;
    background-color: yellow;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
#menuprincipal>div{
    width: 960px;
    margin:0 auto;
}
#menuprincipal li{
    display:inline-block;
    height:35px;
    padding : 15px 10px 0 10px;
    margin-right :5px;
}
#menuprincipal li:hover{
    background-color:rgb(226, 226, 69) ;
    cursor:pointer;
}
#menuprincipal a{
    font:bold 18px 'Amatic SC', cursive;
    color:white;
    
    text-decoration: none;
}
#listamenu > li{
    position:relative;
    display:inline-block;
}
#listamenu li > ul{
    display:none;
    position:absolute;
    top:50px;
    left:0;
    background-color: #94F312;
    box-shadow:3px 3px 4px black;
    border-radius : 0 0 5px 5px;
    z-index:999;

}
#listamenu li :hover ul{
    display:block;
}
main{
    width:96%;
    padding:2%;
    height:100%;
    background-image: url('textura3.jpg');
    background-size:cover;


}
main > div{
    width:960px;
    margin:0 auto;
}
#articuloprincipales{
    float:left;
    width:620px;
    background-color:white;
    padding:20px;
    border-radius:10px;
}
article{

}
article time{
    width:80px;
    position:absolute;
    top: -5px;
    left:-70px;
    background-color :salmon;
    border-radius:5px;
    padding:15px 5px;
    box-shadow : 3px 3px 5px black;
}
.numerodia{
    font:bold 36px 'Special Elite', cursive;
    color:white;
    text-align:center;
}
.nombredia{
    font:bold 12px 'Special Elite', cursive;
    color:white;
    text-align:center;
}
article h2{
    font:bold 28px 'Special Elite', cursive;
    margin-bottom :5px;
}
article p{
    font: 18px 'Special Elite', cursive;
}
figure{
    margin-bottom:10px;
    
}
figure img{
    padding:5px;
    border :3px solid rgb(47, 156, 199);
}
.infoadicional{
    float:right;
    width :240px;
    padding:20px;
    background-color :beige;
    margin-left:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    width:96%;
    padding:2%;
    background-color:green;
}
footer>div{
    width:960px;
    margin:0 auto;
}
.recuperar{
    clear:both;
}